.Mui-selected {
    backgroundColor: 'rgba(104, 156, 164, 0.28)',
}

.Mui-active {
    backgroundColor: 'rgba(104, 156, 164, 0.28)',
}

.Mui-checked {
    backgroundColor: 'rgba(104, 156, 164, 0.28)',
}